<% if (!user) { %>
<div class="p-5 mb-4 rounded-3 jumbotron">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">Welcome to KWIZ!</h1>
    <p class="col-md-12 fs-3">Here you can create, take and share your own kwizes!</p>
    <p class="col-md-12 fs-3">Have your brain ready and have fun!</p>
    <p class="col-md-12 fs-5">Please <strong id="login"><em>LOGIN</em></strong> or <strong id="register"><em>REGISTER</em></strong></p>
  </div>
</div>
<% } %>
