
  <article class="d-flex align-items-stretch mb-5">
    <div class="row card kwizcardstatic">
      <object class="text-center" data="<%= image %>" type="image/png">
        <img src="/images/no-image-icon-15.png" alt="Photo not available">
      </object>
      <div class="card-body">
        <h5 class="card-title">
          <%= title %> KWIZ
        </h5>
        <p class="card-text">
          <%= description %>
        </p>
      </div>
      <div class="row mb-2 d-flex mz justify-content-evenly">
        <button id="sharebutton" class="btn btn-primary cardbtn">SHARE!</button>
      </div>
      <div id="sharelink"></div>
    </div>
  </article>
