<nav class="navbar navbar-expand-md navbar-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><span class="material-symbols-outlined">dynamic_form</span></a>
    <button class="navbar-toggler p-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon buttoncolor rounded"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <% if (user) { %>
          <li class="nav-item">
            <a class="nav-link" id="mykwizes" href="/mykwizes">My Private Kwizes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="publickwizes" href="/publickwizes">Public Kwizes List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="logout">LOGOUT</a>
          </li>
      </ul>
    </div>
  </div>
</nav>
<% } else { %>
  <li class="nav-item">
    <a class="nav-link" id="login">LOGIN</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="register">REGISTER</a>
  </li>
  </ul>
  </div>
  </div>
  </nav>
  <% } %>
