<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kwiz!</title>

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- CSS Stylesheets -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/styles.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />

  <!-- External JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

  <!-- SCRIPTS -->
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/network.js"></script>
  <script type="text/javascript" src="/scripts/components.js"></script>
</head>

<body>

  <%- include('partials/nav') %>

    <main class="container">

      <form id="createkwizform">
        <header>
          <div class="mb-3">
            <label class="form-label fw-bold">Title</label>
            <input type="text" name="title" class="form-control formfield" placeholder="Enter a title">
          </div>
          <div class="mb-3">
            <label class="form-label fw-bold">Description</label>
            <input type="text" name="description" class="form-control formfield"
              placeholder="Enter a short description">
          </div>
          <div class="mb-3">
            <label class="form-label fw-bold">Image</label>
            <input type="url" name="imageurl" class="form-control formfield" placeholder="Image URL">
          </div>
          <div class="form-check mb-3">
            <input name="private" class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
            <label class="form-check-label fw-bold" for="flexCheckChecked">
              Private
            </label>
          </div>
        </header>

        <article id="questionscontainer">


          <section id="question1">
            <div class="form-floating mb-3">
              <input type="text" name="q1" class="form-control formfield" id="floatingInput" placeholder="Question 1">
              <label for="floatingInput">Question 1 (select the correct answer below)</label>
            </div>
            <div class="mb-3">
              <label class="form-label">Answer A</label>
              <input type="radio" name="q1ans" value="q1a" required> <input type="text" name="q1a"
                class="form-control formfield">
            </div>
            <div class="mb-3">
              <label class="form-label">Answer B</label>
              <input type="radio" name="q1ans" value="q1b"><input type="text" name="q1b" class="form-control formfield">
            </div>
            <div class="mb-3">
              <label class="form-label">Answer C</label>
              <input type="radio" name="q1ans" value="q1c"><input type="text" name="q1c" class="form-control formfield">
            </div>
            <div class="mb-5">
              <label class="form-label">Answer D</label>
              <input type="radio" name="q1ans" value="q1d"><input type="text" name="q1d" class="form-control formfield">
            </div>
          </section>
        </article>

        <div class="mb-5">
          <button type="button" class="btn btn-primary" id="newquestion">Create new question</button>
          <button type="button" class="btn btn-primary" id="deletequestion">Delete question</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>

      </form>

      </main">

      <i id="scroll-top" class="fa-solid fa-angles-up"></i>

</body>

</html>
