.jumbotron {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  text-transform: uppercase;
  font-family: "Orbitron", sans-serif;
  font-size: 12em;
  font-weight: 700;
  color: darkblue;
  text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191, 1px 4px 1px #919191, 1px 18px 6px rgba(16, 16, 16, 0.4), 1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2), 1px 30px 60px rgba(16, 16, 16, 0.4);
}

strong:hover {
  color: white;
}