.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.results {
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 60vh;
  border-style: solid;
  border-width: 10px;
  border-color: #000f99;
  border-radius: 20px;
  box-shadow: 10px 10px rgba(0, 0, 255, 0.3);
  inline-size: fit-content;
  font-family: "Orbitron", sans-serif;
  color: white;
}

.imagebackground {
  background-color: rgba(0, 0, 255, 0.5);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  border-radius: 20px;
}

.row {
  padding: inherit;
}

.resultsbody {
  text-align: -webkit-center;
}

.textresults span {
  display: inline-block;
  line-height: 0.9em;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  background-size: cover;
  fill-opacity: 0.5;
  font-size: 4vw;
}