$primaryColor: #0019FF;
$secondaryColor: #000f99;
$tertiaryColor: #0099FF;
$primaryFont: 'Orbitron', sans-serif;

// TAKE KWIZ BUTTONS

.bn47 {
  position: relative;
  padding: 1rem 2rem 0.5rem 2.5rem;
  font-family: $primaryFont;
  color: white;
  background-color: $primaryColor;
  font-weight: bold;
  border: 3px solid darkblue;
  -webkit-transition: padding 0.3s ease-in-out;
  transition: padding 0.3s ease-in-out;
}

.bn47:before {
  content: "";
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  z-index: -1;
  height: 100%;
  width: 100%;
  background-color: #000000;
  border-right: 3px solid #000000;
  border-bottom: 3px solid #000000;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.bn47:hover {
  padding: 0.75rem 2.25rem;
}

.bn47:hover:before {
  top: 0;
  left: 0;
}


// KWIZ QUESTION NEXT BUTTON

.kwizbtn {
  width: fit-content;
  align-self: center;
  cursor: pointer;
  font-weight: 700;
  font-family: Helvetica,"sans-serif";
  transition: all .2s;
  padding: 10px 20px;
  border-radius: 100px;
  background: lightblue;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  font-size: 3vw;
  color:#000f99;
 }

 @media screen and (min-width: 1024px) {
  .kwizbtn {
     font-size: 2vw;
  }
}

 .kwizbtn:hover {
  background: $primaryColor;
  color: white;
 }

 .kwizbtn > svg {
  width: 34px;
  margin-left: 10px;
  transition: transform .3s ease-in-out;
 }

 .kwizbtn:hover svg {
  transform: translateX(5px);
 }

 .kwizbtn:active {
  transform: scale(0.95);
 }

// CARD BUTTONS
.cardbtn {
  flex-basis: fit-content;
  font-size: 1.5vh;
}
