$primaryColor: #0019FF;
$secondaryColor: #000f99;
$tertiaryColor: #0099FF;

$primary-color: $primaryColor; // Change color here. C'mon, try it!
$text-color: mix( #0019FF, $primary-color, 64%);

form {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

label {
	display: flex;
	font-weight: 500;
	position: relative;
	overflow: hidden;
	margin-bottom: 0.375em;

	input {
		position: absolute;
		left: -9999px;
		&:checked + span {
			background-color: mix($tertiaryColor, $primary-color, 84%);
			&:before {
				box-shadow: inset 0 0 0 0.4375em $primary-color;
			}
		}
	}
	span {
		display: flex;
		align-items: center;
		padding: 0.375em 0.75em 0.375em 0.375em;
		border-radius: 99em;
		transition: 0.25s ease;
		&:hover {
			background-color: mix(#fff, $primary-color, 84%);
		}
		&:before {
			display: flex;
			flex-shrink: 0;
			content: "";
			background-color: #fff;
			width: 1.5em;
			height: 1.5em;
			border-radius: 50%;
			margin-right: 0.375em;
			transition: 0.25s ease;
			box-shadow: inset 0 0 0 0.125em $primary-color;
		}
	}
}

.container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
}
