$primaryColor: #0019FF;
$secondaryColor: #000f99;
$tertiaryColor: #0099FF;

.appform {
  border: 5px solid $secondaryColor;
  border-radius: 20px;
  background-color: rgba(173, 216, 230, 0.9);
  padding: 20px;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  margin: 5%;

  p {
    color: $secondaryColor;
  }
}


@media screen and (max-width:480px) {
  .appform {
    width: 90%;
  }
}
@media screen and (min-width:481px) {
  .appform {
    width: 75%;
  }
}
@media screen and (min-width:769px) {
  .appform {
    width: 60%;
  }
}
@media screen and (min-width:1025px) {
  .appform {
    width: 40%;
  }
}


.form-control {
  background-color: rgba(255, 255, 255, 0.3);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-width: 10px;
  border: 0;
  border-bottom: 5px solid #000f99;
  border-right: 5px solid #000f99;
}

.form-control:focus {
  box-shadow: none;
}
