$primaryColor: #0019FF;
$secondaryColor: #000f99;
$tertiaryColor: #0099FF;

.container {
  margin-top: 70px;
}

body {
  background-color: $primaryColor;
  background-image: url("https://www.transparenttextures.com/patterns/diagmonds-light.png");
}

hr {
  padding: 0;
  margin: 0;
}

@mixin threeD {
  opacity: 0.5;
  transform:
    perspective(500px) translate3d(0px, 0px, -100px) rotateX(25deg) scale(0.9, 0.9);
  border: 3px solid $secondaryColor;
  box-shadow: 0 70px 40px -20px rgba(0, 0, 0, 0.2);
  transition: 0.4s ease-in-out transform;

  &:hover {
    transform: translate3d(0px, 0px, -250px);
    opacity: 1;
  }
}

.kwizcard {
  display: flex;
  background-color: $primaryColor;
  color: white;
  @include threeD;
  font-family: 'Orbitron', sans-serif;

  .card-title {
    font-weight: bold;
  }
}

.profile {
  width: 20%;
  position: fixed;
}

.profilepic {
  width: 30%;
  height: 30%;
}

.profileinfo {
  font-family: 'Orbitron', sans-serif;
  h5 {
    font-size: 2.5vh;
    font-weight: bold;
  }
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

#scroll-top {
  position: fixed;
  bottom: 0;
  right: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  cursor: pointer;
  margin-bottom: 10px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: $primaryColor;
  font-size: x-large;
}

@media screen and (max-width: 767px) {
  .profileinfo {
    font-family: 'Orbitron', sans-serif;
    font-size: calc(70% + 1vw + 1vh);
  }

  .profile {
    width: auto;
    position: unset;
  }

  #quizcards {
    display: flex;
    justify-content: center;
  }
}

// CREATE QUIZ BUTTON
.pushable {
  background: $secondaryColor;
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
}
.front {
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
  display: block;
  padding: 12px 12px;
  border-radius: 12px;
  font-size: 1.25rem;
  background: $primaryColor;
  color: white;
  transform: translateY(-6px);
}

.pushable:active .front {
  transform: translateY(-2px);
}
// -------------
